.headerAppComponent{
    background-image: url(../assets/images/bg-header-desktop.svg);
    background-color: $primary;
    background-size: 100vw;
    height: 20vh;
    h1{
        display: none;
    }
}   
@media screen and (min-width: 350px) and (max-width:800px){
    .headerAppComponent{
        background-image: url(../assets/images/bg-header-mobile.svg);
    }
}