.jobsComponent{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    &__filters{
        padding: 20px;
        margin-top: -1.5rem;
        background-color: #fff;
        box-shadow: -2px 5px 10px rgba($color: #000000, $alpha: 0.3);
        border-radius: 7px;
        display: none;
        &>div{
         display: inline;   
         margin: 0 .5rem;
        }
        .filtersContainer{
            display: flex;
            gap: 10px;
        }
        &__tag{
            background-color: hsl(180, 31%, 95%);
            padding: 10px;
            font-weight: 700;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            color: $primary;
            transition: .3s;
            &--delete{
                background-color: $primary;
                color: #fff;
                padding: 10px;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                transition: .3s;
                &:hover{
                    background-color: $dark;
                    cursor: pointer;
                    transition: .3s;
                }
            }
            &:hover{
                background-color: $primary;
                color: #fff;
                transition: .3s;
                cursor: pointer;
            }
        }
        p{
            color: $primary;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .ativo{
        display: flex;
        justify-content: space-between;
      
    }
    section:first-of-type{
        margin-top: 4rem;
    }
}
@media screen and (min-width: 350px) and (max-width:800px){
    .jobsComponent{
        &__filters{
            .filtersContainer{
                flex-wrap: wrap;
                gap: 1.2rem;
            }
            p{
                align-self: center;
            }
            &__tag{
                padding: 8px;
                &--delete{
                    padding: 8px;
                }
            }
        }
    }
}